*.exe
*.yml
__pycache__
test.*
build
dist
*.spec
builds
Windows-package-autoinstaller
fyne-cross
fyne_metadata_init.go
main
tmp-pkg
Windows-package-autoinstaller.wasm
Windows-package-autoinstaller.tar.xz
WPA.tar.x
WPA.tar.xz
initcmd.bat
gorun.bat
commit-msg.txt
